[Unit]
Description=Check Tor Connection
After=network-online.target tor.target

[Service]
ExecStart=/usr/bin/check-tor
KillMode=process
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
